# GingerOS Kernel Requirements
# These will be merged into the base defconfig
CONFIG_EXT4_FS=y
CONFIG_ATA=y
CONFIG_SATA_AHCI=y
CONFIG_ATA_PIIX=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_FB=y
CONFIG_VGA_CONSOLE=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_PCI=y
# Ensure it is hardware agnostic
CONFIG_HYPERVISOR_GUEST=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y

CONFIG_PARTITION_ADVANCED=y
CONFIG_MSDOS_PARTITION=y